.total-clicks-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.table-clicks,
td,
tr,
th {
  width: 20%;
  border: 1px solid black;
}
